<% content_for(:navbar) do %>
  <%= render 'shared/navbar' %>
<% end %>

<br>

<div class="container-box">
  <h2>Notes Library</h2>

  <div class="blue-box">
    <p>Here you can add notes and leave messages for those that matter to you so that...</p>
  </div>

  <% @user.notes.each do |note| %>
    <div class="col-xs-12 col-sm-6">
      <div class="note-card">
        <div class="note-spacing" id="assignee-note-<%= note.id %>">
          <div class="note-title">
            <h4><strong><%= note.title %></strong></h4>
          </div>
          <div class="card-content card-overflow">
            <p><%= note.content %></p>
          </div>
          <div class="button-box">
            <%= link_to "Edit", edit_user_assignee_note_path(current_user, note.assignee_id, note.id), remote: true, class: "btn btn-success btn-default" %>
            <%= link_to "Delete", user_assignee_note_path(current_user, note.assignee_id, note.id), data: {confirm: 'Are you sure?'}, method: :delete, class: "btn btn-danger btn-default" %>
          </div>
        </div>
        <div class="note-form" id="edit-note-form-<%= note.id %>"></div>
      </div>
    </div>
  <% end %>
</div>
