<% content_for(:navbar) do %>
  <%= render 'shared/navbar' %>
<% end %>

<% content_for(:sidebar) do %>
  <%= render 'shared/sidebars/sidebar_core' %>
<% end %>

<div class="dashboard-box" style="background-image: linear-gradient(135deg, rgba(0,0,0,0.8) 0%, rgba(0,0,0,0.2) 50%), url('/assets/background.jpg')">
  <div id="tab-content">
    <br><br>

    <div class="container-box profile-cards">

      <div class="col-xs-12 col-sm-6 col-md-4">
        <div class="alt-card black-links">
          <% unless @user.details_completed? %>
            <i class="fa fa-exclamation-circle warning-circle" aria-hidden="true"></i>
          <% end %>
          <h4><%= link_to "My Details", "#", class: "details-link" %></h4>
          <hr>
          <div class="card-content card-overflow">
            <p><strong><%= @user.try(:name_surname) %></strong></p>
            <p><%= @user.citizenship ? @user.citizenship + " Citizen" : "Please enter your citizenship" %></p>
            <p>Date of Birth: <%= @user.try(:date_of_birth) %></p>
            <p>Email: <%= @user.try(:email) %></p>
            <p>Phone Number: <%= @user.try(:phone_number) %></p>
            <p>Address: <%= @user.try(:address_line_1) + ", " + @user.try(:address_line_2) %></p>
            <p><%= @user.try(:town) + ", " + @user.try(:postcode) %> <% ", " + @user.country if @user.country %></p>
            <% unless @user.details_completed? %>
              <i class="fa fa-exclamation-triangle" aria-hidden="true"> Details incomplete</i>
            <% end %>
          </div>
        </div>
      </div>

      <div class="col-xs-12 col-sm-6 col-md-4">
        <% if @user.assignees.where('relationship = ?', 'Partner').last %>

          <div class="alt-card black-links">
            <% @user.assignees.where('relationship = ?', 'Partner').each do |partner| %>
              <% unless partner.details_completed? %>
              <i class="fa fa-exclamation-circle warning-circle" aria-hidden="true"></i>
            <% end %>
            <h4><%= link_to "My Partner", user_assignee_path(@user, partner) , class: "partner-link" %></h4>
            <hr>
            <div class="card-content card-overflow">
              <p><strong><%= link_to partner.name_surname, user_assignee_path(@user, partner) %></strong></p>
              <p><%= partner.phone_number %></p>
              <br>
              <p><%= partner.try(:address_line_1) + ", " + partner.try(:address_line_2) %></p>
              <p><%= partner.try(:town) + ", " + partner.try(:postcode) %><% ", " + partner.country if partner.country %></p>
            </div>
          <% end %>
        </div>

        <% else %>

          <div class="alt-card black-links">
            <h4><%= link_to "My Partner", "#" , class: "partner-link" %></h4>
            <hr>
            <p>You have not assigned a partner.</p>
          </div>

        <% end %>
      </div>

      <div class="col-xs-12 col-sm-6 col-md-4">
        <div class="alt-card black-links">
          <h4><%= link_to "My Children",user_children_path(current_user), class: "children-link" %></h4>
          <hr>
          <div class="card-content card-overflow">
            <% if !@user.children.empty? %>

              <% @user.assignees.where('relationship = ?', 'Child').each do |child| %>
                <% unless child.details_completed? %>
                  <i class="fa fa-exclamation-circle warning-circle" aria-hidden="true"></i>
                <% end %>
                <p><strong><%= link_to child.try(:name_surname), user_assignee_path(@user, child) %></strong></p>
                <p><%= child.try(:phone_number) %></p>
              <% end %>

            <% else %>

              <p>You have not assigned any children.</p>

            <% end %>
          </div>
        </div>
      </div>

      <div class="col-xs-12 col-sm-6 col-md-4">
        <div class="alt-card black-links">
          <h4><%= link_to "My Guardians", user_guardians_path(current_user), class: "guardian-link" %></h4>
          <hr>
          <div class="card-content card-overflow">
            <% if !@user.guardians.empty? %>

              <% @user.guardians.each do |guardian| %>
                <% unless guardian.details_completed? %>
                  <i class="fa fa-exclamation-circle warning-circle" aria-hidden="true"></i>
                <% end %>
                <p><strong><%= link_to guardian.name_surname, user_assignee_path(@user, guardian) %></strong></p>
                <p><%= guardian.try(:phone_number) %></p>
              <% end %>

            <% else %>

              <p>You have not assigned any guardians.</p>

            <% end %>
          </div>
        </div>
      </div>

      <div class="col-xs-12 col-sm-6 col-md-4">
        <div class="alt-card black-links">
          <% if @user.proofs.empty? %>
            <i class="fa fa-exclamation-circle warning-circle" aria-hidden="true"></i>
          <% end %>
          <h4><%= link_to "Proof of Residency", user_proofs_path(current_user) %></h4>
          <hr>
          <div class="card-content card-overflow">
            <% if !@user.proofs.empty? %>

              <% @user.proofs.each do |proof| %>
                <p>- <%= proof.title %></strong></p>
              <% end %>

            <% else %>

              <p><%= link_to "You have not uploaded any proof of residency. Click here to go to our secure upload form.", user_proofs_path(current_user), class: "proof-card" %></p>

            <% end %>
          </div>
        </div>
      </div>

      <div class="col-xs-12 col-sm-6 col-md-4">
        <div class="alt-card black-links">
          <h4><%= link_to "Notes", user_notes_path(current_user) %></h4>
          <hr>
          <div class="card-content card-overflow">
            <% if !@user.notes.empty? %>

              <% @user.notes.reverse.each do |note| %>
                <p><%= note.title %></strong></p>
              <% end %>

            <% else %>

              <p>You have not created any notes.</p>

            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
