<br><br>

<div class="container-box profile-cards">
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-md-4">
      <div class="alt-card card-overflow black-links <%= "orange-border" unless @user.details_completed? %>" id="details-card">
        <% unless @user.details_completed? %>
            <i class="fa fa-exclamation-circle warning-circle" aria-hidden="true"></i>
          <% end %>
        <h4>My Details</h4>
        <hr>
        <div class="card-content">
          <p><strong><%= @user.try(:name_surname) %></strong></p>
          <p><%= @user.citizenship ? @user.citizenship + " Citizen" : "Please enter your citizenship" %></p>
          <p><%= @user.try(:date_of_birth) %></p>
          <p><%= @user.try(:email) %></p>
          <p><%= @user.try(:phone_number) %></p>
          <p><%= @user.try(:address_line_1) %></p>
          <p><%= @user.try(:address_line_2) %></p>
          <p><%= @user.try(:town) %></p>
          <p><%= @user.try(:postcode) %></p>
          <p><%= @user.try(:country) %></p>
          <% unless @user.details_completed? %>
            <i class="fa fa-exclamation-triangle" aria-hidden="true"> Details incomplete</i>
          <% end %>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4">
      <div class="alt-card card-overflow black-links" id="partner-card">
        <h4>My Partner</h4>
        <hr>
        <div class="card-content">
          <% @user.partner.each do |partner| %>
            <p><strong><%= partner.try(:name_surname) %></strong></p>
            <p><%= partner.try(:address_line_1) %></p>
            <p><%= partner.try(:address_line_2) %></p>
            <p><%= partner.try(:town) %></p>
            <p><%= partner.try(:postcode) %></p>
            <p><%= partner.try(:country) %></p>
            <p><%= partner.try(:phone_number) %></p>
          <% end %>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4">
      <div class="alt-card card-overflow black-links" id="children-card">
        <h4>My Children</h4>
        <hr>
        <div class="card-content">
          <% @user.children.each do |child| %>
            <p><strong><%= child.try(:name_surname) %></strong></p>
            <p><%= child.try(:phone_number) %></p>
          <% end %>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12 col-sm-6 col-md-4">
      <div class="alt-card card-overflow black-links" id="guardian-card">
        <h4>My Guardians</h4>
        <hr>
        <div class="card-content">
          <% @user.guardians.each do |guardian| %>
            <p><%= link_to guardian.name_surname, user_assignee_path(@user, guardian) %></p>
          <% end %>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4">
      <div class="alt-card card-overflow black-links" id="proof-card">
        <h4>Proof of Residency</h4>
        <hr>
        <div class="card-content">

        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4">
      <div class="alt-card card-overflow black-links" id="note-card">
        <h4>Notes</h4>
        <hr>
        <div class="card-content">
          <% @user.notes.each do |note| %>
            <p><%= note.title %></p>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
