<br>

<div class="grey-box">
  <h2>Proof of Residency</h2>

  <div class="blue-box">
    <p>In order to authenticate your...</p>
  </div>

  <div id="proof-of-residency">
    <% if @user.proofs.first %>
      <h3>Your proof of residency:</h3>

      <% @user.proofs.each do |proof| %>
        <div class="col-xs-12 col-sm-6">
          <div class="note-card">
            <div class="note-spacing" id="assignee-proof-<%= proof.id %>">
              <div class="note-title">
                <h4><strong><%= proof.title %></strong></h4>

                <h5><strong>For:</strong> <%= Assignee.find(proof.assignee_id).first_name %></h5>
              </div>
              <p><%= proof.content %></p>
              <div class="button-box">
                <%= link_to "Edit", edit_user_proof_path(current_user, proof.id), remote: true, class: "btn btn-success btn-default" %>
                <%= link_to "Delete", user_proof_path(current_user, proof.id), data: {confirm: 'Are you sure?'}, method: :delete, class: "btn btn-danger btn-default" %>
              </div>
            </div>
            <div class="proof-form" id="edit-proof-form-<%= proof.id %>"></div>
          </div>
        </div>
      <% end %>

    <% else %>

      <h5>You have not uploaded a proof of residency.</h5>
      <p>Please use the form below to do so:</p>
      <%= simple_form_for([@user, @proof]) do |f| %>
        <%= f.input :title %>
        <%= f.input :document, as: :attachinary %>
        <%= f.input :comments %>
        <%= f.button :submit, "Submit Proof of Residency" %>
      <% end %>

    <% end %>
  </div>

</div>

<% content_for(:after_js) do %>
  <script>
    // Show comment edit form
    $('#proof-comment-edit').on('click', function(e) {
      $('#proof-comment-content').addClass('invisible');
      $('#proof-comment-edit').addClass('invisible');
      $('#proof-comment-form').removeClass('invisible');
    });

    // Removing comment edit form after update
    $('#proof-comment-form button').on('click', function(e) {
      e.prevent_default;
      $('#proof-comment-form').addClass('invisible');
      $('#proof-comment-edit').removeClass('invisible');
    });

    // Show upload edit form
    $('#proof-upload-edit').on('click', function(e) {
      console.log('hello')
      $('#proof-upload-form').removeClass('invisible');
    });

    // Removing upload edit form after update
    $('#proof-upload-form button').on('click', function(e) {
      e.prevent_default;
      $('#proof-upload-form').addClass('invisible');
      $('#proof-upload-edit').removeClass('invisible');
    });
  </script>
<% end %>
