<% content_for(:navbar) do %>
  <%= render 'shared/navbar' %>
<% end %>

<% content_for(:sidebar) do %>
  <%= render 'shared/sidebars/sidebar_core' %>
<% end %>

<div class="dashboard-box">
  <div id="tab-content">
    <div class="0" id="my-profile-content">
      <%= render file: 'users/profile' %>
    </div>

    <div class="2 hidden" id="personal-details-content">
      <%= render file: 'users/edit' %>
    </div>

    <div class="4 hidden" id="partner-content">
    </div>

    <div class="6 hidden" id="children-content">
      <%# render file: 'users/children' %>
    </div>

    <div class="8 hidden" id="guardian-content">

    </div>

    <div class="10 hidden" id="family-and-friends-content">

    </div>

    <div class="12 hidden" id="my-digital-assets-content">
      <%= render file: 'users/digital' %>
    </div>

    <div class="14 hidden" id="proof-of-residency-content">
      <%= render file: 'proofs/index' %>
    </div>

    <div class="16 hidden" id="notes-content">
      <%= render file: 'notes/index' %>
    </div>

  </div>
</div>
