<% content_for(:navbar) do %>
  <%= render 'shared/navbar' %>
<% end %>

<div class="dashboard-box" style="background-image: linear-gradient(135deg, rgba(0,0,0,0.8) 0%, rgba(0,0,0,0.2) 50%), url('/assets/background.jpg')">
  <div id="tab-content">
    <div class="container">
      <br>
      <% if !@proofs.empty? %>
        <div class="header-box padding-15">
          <h2>Your Proof of Residency</h2>
          <%= link_to "Add Document", new_user_proof_path(current_user, @proof), remote: true, class: "btn btn-transparent btn-default button-height-default" %>
        </div>

        <div class="blue-box side-margin-small">
          <p>By including as much documentation as possible on your UK residency you give yourself the best chance of protection.</p>
        </div>

        <div class="col-xs-12 col-md-6 invisible">
          <div class="document-card">
            <div class="note-form" id="new-proof-form"></div>
          </div>
        </div>

        <% @proofs.reverse.each do |proof| %>

          <div class="col-xs-12 col-lg-6">
            <div class="document-card">
              <div class="card-buttons">
                <%= link_to edit_user_proof_path(current_user, proof.id), remote: true do %>
                  <i class="fa fa-pencil" aria-hidden="true"> </i>
                <% end %>
                <%= link_to user_proof_path(current_user, proof.id), data: {confirm: 'Are you sure?'}, method: :delete do %>
                  <i class="fa fa-trash" aria-hidden="true"></i>
                <% end %>
              </div>
              <div class="proof-spacing" id="proof-<%= proof.id %>">
                <%= cl_image_tag(proof.document.path, transformation: [{width: 150, height: 200, crop: "fill"}]) %>
                <div class="details-box margin-left">
                  <h4 class="text-center"><strong><%= proof.title %></strong></h4>
                  <div class="proof-comments card-overflow">
                    <p><%= proof.comments %></p>
                  </div>
                </div>
              </div>
              <div class="note-form" id="edit-proof-form-<%= proof.id %>"></div>
            </div>
          </div>
        <% end %>

      <% else %>

        <div class="side-margin white-text">
          <h2>Proof of Residency</h2>

          <div class="blue-box">
            <p>In this section, you save all <strong>documents that prove your date of arrival in the UK and that you have never left since then</strong>. You can use documents as HMRC tax return, Council tax bills, energy and utility bills, school certificate or bills, payslips, etc.<br> You could be asked to send those documents to UK Authorities if you need to justify your residency historical and your dependence to UK Social Aids.</p>
          </div>
        </div>

        <div class="grey-box relative">
          <i class="fa fa-question-circle question-circle" aria-hidden="true"><span class="question-tooltip">The more accurate and complete your information the easier it will to prove your residency</span></i>
          <h5><strong>You have not uploaded a proof of residency.</strong></h5>
          <p>Please use the form below to do so:</p>
          <%= simple_form_for([@user, @proof]) do |f| %>
            <%= f.input :title %>
            <%= f.input :document, as: :attachinary %>
            <%= f.input :comments %>
            <div class="submit-button text-center">
              <%= f.button :submit, "Submit Proof of Residency", class: "btn purple-button" %>
            </div>
          <% end %>
        </div>

      <% end %>
    </div>
  </div>
</div>
