<% content_for(:navbar) do %>
  <%= render 'shared/navbar' %>
<% end %>

<br>

<div class="container-box">
  <% if !@proofs.empty? %>
    <div class="header-box">
      <h2>Your Proof of Residency</h2>
      <%= link_to "Add Document", new_user_proof_path(current_user, @proof), remote: true, class: "btn btn-transparent btn-default button-height-default" %>
    </div>
    <% @proofs.each do |proof| %>
      <div class="col-xs-12 col-lg-6">
        <div class="note-card">
          <div class="proof-spacing" id="proof-<%= proof.id %>">
            <%= cl_image_tag(proof.document.path, transformation: [{width: 150, height: 200, crop: "fill"}]) %>
            <div class="details-box margin-left">
              <h4 class="text-center"><strong><%= proof.title %></strong></h4>
              <div class="proof-comments card-overflow">
                <p><%= proof.comments %></p>
              </div>
              <div class="button-box text-center">
                <%= link_to "Edit", edit_user_proof_path(current_user, proof.id), remote: true, class: "btn btn-success btn-default" %>
                <%= link_to "Delete", user_proof_path(current_user, proof.id), data: {confirm: 'Are you sure?'}, method: :delete, class: "btn btn-danger btn-default" %>
              </div>
            </div>
          </div>
          <div class="note-form" id="edit-proof-form-<%= proof.id %>"></div>
        </div>
      </div>
    <% end %>

    <div class="col-xs-12 col-md-6">
      <div class="note-card invisible">
        <div class="note-form" id="new-proof-form"></div>
      </div>
    </div>

  <% else %>

    <div class="side-margin">
      <h2>Proof of Residency</h2>

      <div class="blue-box">
        <p>In order to authenticate your...</p>
      </div>
    </div>

    <div class="grey-box">
      <h5><strong>You have not uploaded a proof of residency.</strong></h5>
      <p>Please use the form below to do so:</p>
      <%= simple_form_for([@user, @proof]) do |f| %>
        <%= f.input :title %>
        <%= f.input :document, as: :attachinary %>
        <%= f.input :comments %>
        <div class="submit-button text-center">
          <%= f.button :submit, "Submit Proof of Residency", class: "btn btn-success" %>
        </div>
      <% end %>
    </div>

  <% end %>

</div>
