<br>
<%= link_to '#', class: 'profile-picture-inline' do %>
  <%= @assignee.profile_picture ? cl_image_tag(@assignee.profile_picture.path, transformation: [{width: 100, height: 100, gravity: "face", radius: "max", crop: "fill"}], class: "avatar-edit") : image_tag('user3.png', class: "avatar-edit") %>
  <p>Change Picture</p>
  <%= simple_form_for [current_user, @assignee], html: {class: 'form-inline edit-profile-picture invisible'} do |f| %>
    <%= f.input :profile_picture, as: :attachinary, label: false, input_html: { class: 'profile-upload'} %>
    <%= f.submit "Upload", class: 'profile-upload'  %>
  <% end %>
<% end %>

<%= simple_form_for [current_user, @assignee] do |f| %>
  <%= f.hidden_field :type, value: @type %>
  <div class="form-container">

    <div class="row">
      <div class="col-xs-12 col-sm-4">
        <%= f.input :title %>
      </div>
      <div class="col-xs-12 col-sm-8">
        <%= f.input :email %>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-12 col-sm-4">
        <%= f.input :first_name %>
      </div>
      <div class="col-xs-12 col-sm-4">
        <%= f.input :middle_name %>
      </div>
      <div class="col-xs-12 col-sm-4">
        <%= f.input :last_name %>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-12 col-sm-4">
        <%= f.input :citizenship %>
      </div>
      <div class="col-xs-12 col-sm-4">
        <%= f.input :date_of_birth %>
      </div>
      <div class="col-xs-12 col-sm-4">
        <%= f.input :phone_number %>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-12 col-sm-6">
        <%= f.input :address_line_1 %>
      </div>
      <div class="col-xs-12 col-sm-6">
        <%= f.input :address_line_2 %>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-12 col-sm-4">
        <%= f.input :town %>
      </div>
      <div class="col-xs-12 col-sm-4">
        <%= f.input :postcode %>
      </div>
      <div class="col-xs-12 col-sm-4">
        <%= f.input :country %>
      </div>
    </div>

    <% if @assignee.type == 'Guardian' || params[:format] == 'Guardian' %>
      <%= f.hidden_field :type, value: 'Guardian' %>
    <% else %>
      <%= f.hidden_field :type, value: 'Recipient' %>
      <%= f.hidden_field :relationship, value: 'Child' %>
    <% end %>

    <div class="row">
      <div class="col-xs-4 col-xs-offset-4">
        <%= f.button :submit, "Save" %>
        <%= link_to "back", user_path(current_user), class: "butt back-button" %>
      </div>

    </div>
  </div>
<% end %>
<br>
