<br><br>
<div class="container-box">
  <div class="progress_bar">
    <hr class="all_steps">
    <hr class="current_steps">
    <div class="step current" id="step1" data-step="1">
      Profile
    </div>
    <div class="step" id="step3" data-step="3">
      Edit Details
    </div>
    <div class="step" id="step5" data-step="5">
      Notes
    </div>
  </div>

<div id="blocks">
  <div class="block" id="block1" style="left: 0%;">
    <div class="wrap">
      <h2>Block 1</h2>
      <p>Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Cras mattis consectetur purus sit amet fermentum. Aenean lacinia bibendum nulla sed consectetur. Nulla vitae elit libero, a pharetra augue. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
      <br />
      <a onclick="step_process(1, 3)" class="butt">Next</a>
    </div>
  </div>
  <div class="block" id="block3">
    <div class="wrap">
      <h2>Block 3</h2>
      <p>Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Cras mattis consectetur purus sit amet fermentum. Aenean lacinia bibendum nulla sed consectetur. Nulla vitae elit libero, a pharetra augue. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
      <br />
      <a onclick="step_process(3, 1, 'desc')" class="butt">Prev</a><a onclick="step_process(3, 5)" class="butt">Next</a>
    </div>
  </div>
  <div class="block" id="block5">
    <div class="wrap">
      <h2>Block 5</h2>
      <p>Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Cras mattis consectetur purus sit amet fermentum. Aenean lacinia bibendum nulla sed consectetur. Nulla vitae elit libero, a pharetra augue. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
      <br />
      <a onclick="step_process(5, 3, 'desc')" class="butt">Prev</a>
    </div>
  </div>
</div>
<br class="clear" />
</div>

<% if @assignee.profile_picture %>
  <%= cl_image_tag(current_user.profile_picture.path, transformation: [{width: 70, height: 70, gravity: "face", radius: "max", crop: "fill"}]) %>
<% end %>

<h1 class="text-center"><%= @assignee.name_surname %></h1>

<br>

<div class="container-box">
  <div class="row">
    <div class="col-xs-12 col-md-6">
      <div class="assignee-card card-overflow" id="action-card">
        <h4>Details</h4>
        <hr>
        <div class="card-content">
          <p><%= @assignee.try(:full_name) %></p>
          <p><%= @assignee.citizenship ? @assignee.citizenship + " Citizen" : "Please enter your citizenship" %></p>
          <p><%= @assignee.try(:relationship) %></p>
          <p><%= @assignee.try(:date_of_birth) %></p>
          <p><%= @assignee.try(:email) %></p>
          <p><%= @assignee.try(:phone_number) %></p>
          <p><%= @assignee.try(:address_line_1) %></p>
          <p><%= @assignee.try(:address_line_2) %></p>
          <p><%= @assignee.try(:town) %></p>
          <p><%= @assignee.try(:postcode) %></p>
          <p><%= @assignee.try(:country) %></p>
          <% unless @assignee.details_completed? %>
            <i class="fa fa-exclamation-triangle" aria-hidden="true"> Details incomplete</i>
          <% end %>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6">
      <div class="assignee-card card-overflow" id="guardian-card">
        <h4>Notes</h4>
        <hr>
        <div class="card-content">
          <% @assignee.notes.each do |note| %>
            <p><%= note.title %></p>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

<%= content_for(:after_js) do %>
  <script>
    function step_process(from, to, dir) {
        if (typeof(dir) === 'undefined') dir = 'asc';
        var old_move = '';
        var new_start = '';

        var speed = 500;

        if (dir == 'asc') {
            old_move = '-';
            new_start = '';
        } else if (dir == 'desc') {
            old_move = '';
            new_start = '-';
        }

        $('#block'+from).animate({left: old_move+'100%'}, speed, function() {
            $(this).css({left: '300%', 'background-color':'transparent', 'z-index':'2'});
        });
        $('#block'+to).css({'z-index': '3', left:new_start+'100%'}).animate({left: '0%'}, speed, function() {
            $(this).css({'z-index':'2'});
        });

        if (Math.abs(from-to) === 1) {
            // Next Step
            if (from < to) $("#step"+from).addClass('complete').removeClass('current');
            else $("#step"+from).removeClass('complete').removeClass('current');
            var width = (parseInt(to) - 1) * 20;
            $(".progress_bar").find('.current_steps').animate({'width': width+'%'}, speed, function() {
                $("#step"+to).removeClass('complete').addClass('current');
            });
        } else {
            // Move to Step
            var steps = Math.abs(from-to);
            var step_speed = speed / steps;
            if (from < to) {
                move_to_step(from, to, 'asc', step_speed);
            } else {
                move_to_step(from, to, 'desc', step_speed);
            }
        }
    }

    function move_to_step(step, end, dir, step_speed) {
        if (dir == 'asc') {
            $("#step"+step).addClass('complete').removeClass('current');
            var width = (parseInt(step+2) - 2) * 20;
            $(".progress_bar").find('.current_steps').animate({'width': width+'%'}, step_speed, function() {
                $("#step"+(step+2)).removeClass('complete').addClass('current');
                if (step+2 < end) move_to_step((step+2), end, dir, step_speed);
            });
        } else {
            $("#step"+step).removeClass('complete').removeClass('current');
            var width = (parseInt(step-2) - 2) * 20;
            $(".progress_bar").find('.current_steps').animate({'width': width+'%'}, step_speed, function() {
                $("#step"+(step-2)).removeClass('complete').addClass('current');
                if (step-2 > end) move_to_step((step-2), end, dir, step_speed);
            });
        }
    }

    $(document).ready(function() {
        $("body").on("click", ".progress_bar .step.complete", function() {
            var from = $(this).parent().find('.current').data('step');
            var to = $(this).data('step');
            var dir = "desc";
            if (from < to) dir = "asc";

            step_process(from, to, dir);
        });
    });
  </script>
<% end %>
