<div class="block" id="block1" style="left: 0%;">
  <div class="wrap">
    <div class="assignee-card" id="action-card">
      <% unless @assignee.details_completed? %>
        <i class="fa fa-exclamation-triangle profile-warning" aria-hidden="true"> Details incomplete</i>
      <% end %>
      <a onclick="step_process(1, 5)" class="btn btn-success next-button pull-right" id="edit-button">Edit</a>
      <div class="card-content card-overflow">
        <div class="row">
          <div class="col-xs-12 col-sm-6">
            <%= link_to '#', class: 'profile-picture-inline' do %>
              <%= @assignee.profile_picture ? cl_image_tag(@assignee.profile_picture.path, transformation: [{width: 100, height: 100, gravity: "face", radius: "max", crop: "fill"}], class: "avatar-card") : image_tag('user3.png', class: "avatar-card") %>
            <% end %>
            <h1 class="text-center"><%= @assignee.name_surname %></h1>
          </div>
          <div class="col-xs-12 col-sm-6">
            <p><%= @assignee.citizenship ? @assignee.citizenship + " Citizen" : "Please enter your citizenship" %></p>
            <p><strong>Relationship</strong>: <%= @assignee.try(:relationship) %></p>
            <p><strong>Date of Birth</strong>: <%= @assignee.try(:date_of_birth) %></p>
            <p><strong>Email</strong>: <%= @assignee.try(:email) %></p>
            <p><strong>Phone Number</strong>: <%= @assignee.try(:phone_number) %></p>
            <br>
            <p><%= @assignee.try(:address_line_1) + ", " + @assignee.try(:address_line_2) %></p>
            <p><%= @assignee.try(:town) + ", " + @assignee.try(:postcode) %><% ", " + @assignee.country if @assignee.country %></p>
          </div>
        </div>
      </div>
    </div>
    <br />
  </div>
</div>
