<br>
<%= link_to '#', class: 'profile-picture-inline' do %>

  <% if @assignee.profile_picture %>
    <%= cl_image_tag(@assignee.profile_picture.path, transformation: [{width: 120, height: 120, gravity: "face", radius: "max", crop: "fill"}], class: "avatar-edit") %>
  <% elsif @assignee.relationship == 'Partner' %>
    <% if @user.title == "Mr" %>
      <%= image_tag('female.png', class: "edit-icon") %>
    <% else %>
      <%= image_tag('male.png', class: "edit-icon") %>
    <% end %>
  <% elsif @assignee.type == 'Guardian' %>
    <% if @assignee.title == "Mrs" || @assignee.title == "Ms" %>
      <%= image_tag('guardian_female.png', class: "edit-icon") %>
    <% else %>
      <%= image_tag('guardian_male.png', class: "edit-icon") %>
    <% end %>
  <% else %>
    <% if @assignee.title == "Mrs" || @assignee.title == "Ms" %>
      <%= image_tag('girl.png', class: "edit-icon") %>
    <% else %>
      <%= image_tag('boy.png', class: "edit-icon") %>
    <% end %>

  <% end %>

  <p>Change Picture</p>
  <%= simple_form_for [current_user, @assignee], html: {class: 'form-inline edit-profile-picture invisible'} do |f| %>
    <%= f.input :profile_picture, as: :attachinary, label: false, input_html: { class: 'profile-upload'} %>
    <%= f.submit "Upload", class: 'profile-upload'  %>
  <% end %>
<% end %>

<% if params[:format] == 'Guardian' || @assignee.type == 'Guardian' %>
  <h3 class="new-title padding-15">Guardian</h3>
<% elsif params[:relationship] == 'Partner' || @assignee.relationship == 'Partner' %>
  <h3 class="new-title padding-15">Partner</h3>
<% else %>
  <h3 class="new-title padding-15">Child</h3>
<% end %>

<%= simple_form_for [current_user, @assignee] do |f| %>
  <%= f.hidden_field :type, value: @type %>
  <div class="form-container">

    <div class="row">
      <div class="col-xs-12 col-sm-4">
        <%= f.input :title, collection: ["Mr", "Mrs", "Ms"] %>
      </div>
      <div class="col-xs-12 col-sm-8">
        <%= f.input :email %>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-12 col-sm-4">
        <%= f.input :first_name %>
      </div>
      <div class="col-xs-12 col-sm-4">
        <%= f.input :middle_name %>
      </div>
      <div class="col-xs-12 col-sm-4">
        <%= f.input :last_name %>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-12 col-sm-4">
        <%= f.input :citizenship, collection: Nationality::NATIONALITY, prompt: 'Citizenship' %>
      </div>
      <% if @assignee.type == 'Guardian' %>
        <div class="col-xs-12 col-sm-4">
          <%= f.input :relationship %>
        </div>
      <% else %>
        <div class="col-xs-12 col-sm-4">
          <%= f.input :date_of_birth, as: :string, input_html: {type: :date} %>
        </div>
      <% end %>

      <div class="col-xs-12 col-sm-4">
        <%= f.input :phone_number %>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-12 col-sm-6">
        <%= f.input :address_line_1, input_html: { id: "user_address"} %>
      </div>
      <div class="col-xs-12 col-sm-6">
        <%= f.input :address_line_2 %>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-12 col-sm-4">
        <%= f.input :city %>
      </div>
      <div class="col-xs-12 col-sm-4">
        <%= f.input :postcode %>
      </div>
      <div class="col-xs-12 col-sm-4">
        <%= f.input :country, priority: ["United Kingdom"] %>
      </div>
    </div>

    <%= f.hidden_field :type, value: @assignee.type %>
    <%= f.hidden_field :relationship, value: @assignee.relationship %>

    <div class="nav-buttons">
      <%= link_to "Back", user_profile_path(current_user), class: "back-button" %>
      <%= f.button :submit, "Save", class: "purple-button" %>
    </div>
  </div>
<% end %>
<br>

<%= content_for(:after_js) do %>
  <script src="https://maps.googleapis.com/maps/api/js?libraries=places&amp;key=<%= ENV['GOOGLE_API_BROWSER_KEY'] %>"></script>
<% end %>
